<div class="container-fluid d-flex justify-content-center align-items-center vh-40" style="width: 40rem;" >

  <div class="card-body">  
    <div class="mb-3">
      <h1 class="card-title display-6 mb-3 " >COMPROBADOR DE AÑO BISIESTO</h1>
      <hr>  
      <input type="number" class="form-control" 
      placeholder="Ingrese año" [(ngModel)]="anio">
    </div>
<button type="button"  (click)="determinarBisiesto()" class="btn btn-success mb-4">comprobar</button>

@if(mostrarResultado){
  <div class="alert alert-primary " role="alert">
    {{resultado}}
</div> }

  </div>
</div>

